<div class="container">
  <h1><%= t(".heading") %></h1>

  <p><%= t(".about") %></p>

  <p><%= mail_to("rob@purinkle.co.uk", t(".get_in_touch")) %></p>

  <ul>
    <li><%= link_to(t(".twitter"), "https://twitter.com/purinkle") %></li>

    <li><%= link_to(t(".github"), "https://github.com/purinkle") %></li>

    <li><%= link_to(t(".linked_in"), "https://linkedin.com/in/purinkle") %></li>
  </ul>
</div>
